@import "../../../globals.scss";

.Banner {
  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  background: linear-gradient(to bottom,white, $theme--dark);

  gap: 2rem;

  img {
    height: 3rem;
  }

  &__seperator {
    height: 100%;
    opacity: 0.3;
    background-color: white;
    width: 0.13rem;
  }

  &__title {
    font-family: 'comic sans ms';
    font-weight: bold;
    color: rgb(51, 46, 46);
    font-size: 1.9rem;
  }
}
